{% extends 'job/main.html' %}
{%load static%}
{%block title%} All Jobs{%endblock%}
{%block header%}{%endblock%}

{%block page%} 
<div class="m-5 mb-4">
    <div class="row g-4 me-2">
        {%for job in jobs%}
        <div class=" cat-item col-sm-12 col-md-4  d-flex  ">
            <div class="row g-4">
                <div class="  col-md-8">
            <a href="{% url 'job-details' job.id %}"  > <img class="flex-shrink-0 img-fluid border m-2 rounded" src="{{job.image.url}}" alt="" style="width: 200px; height: 100px;"></a>
            <div class="text-start ps-4">
                <h3 class="mb-3"><a href="{% url 'job-details' job.id %}">{{job.title}}</a></h3>
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                    
                    {{job.location}}
               
                </span>
                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration.name}}</span>
                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
            </div>
        </div>
        <div class="  col-md-4">
            <p> {{job.description |truncatewords:8 }}</p>
            <a class="btn btn-primary mb-2" href="{% url 'job-details' job.id %}">Apply Now</a>
        </div>
       
        </div>
        </div>
        

        {%endfor%}
    </div>
</div>

<div class='pagination justify-content-center'>
    {% if page_obj.has_previous %}
      <a href='{% url "all-jobs" %}?page={{ page_obj.previous_page_number }}'>Previous </a>
    {% endif %}

    <span class='mx-4'>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href='{% url "all-jobs" %}?page={{ page_obj.next_page_number }}' > Next</a>
    {% endif %}
  </div>
{%endblock%}

