{% extends 'job/main.html' %}
{%load static%}

{%block pageheader%} {%endblock%}

{%block page%} 
<div class="container  " id="cat">
    <div class="row align-items-start">
        {%for category in categories %}

      <div class="col-md-3 py-2 wow fadeInUp" data-wow-delay="0.2">
        <a class="cat-item rounded p-4" href="{% url 'category-jobs' category.id%}">
            <i class="fa fa-3x {{category.icon}} text-primary mb-4"></i>
            <h6 class="mb-3">{{category.name}} </h6>
           
        </a>
      </div>
      {%endfor%}
            
    </div>
  </div>

<!-- Category End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="{% static  'job/img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="{% static  'job/img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="{% static  'job/img/about-3.jpg' %}" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="{% static  'job/img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Believe In You And What You Can Offer</h1>
                <p class="mb-4">Getting professional certificate with regorous training in various descipline is not easy,
                        getting a job to match up your energy should'nt hard. The process from application to recruitment is highlighted below
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Register on our website</p>
                <p><i class="fa fa-check text-primary me-3"></i>Find a job that suite you</p>
                <p><i class="fa fa-check text-primary me-3"></i>Apply for the job by filling your details and upload your resume</p>
                <p><i class="fa fa-check text-primary me-3"></i>The school administrator determine if you are the best match</p>
                <p><i class="fa fa-check text-primary me-3"></i>Check your dashboad to see the progress of your application</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" id="job">Job Listing</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">All Jobs</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <h6 class="mt-n1 mb-0">Full Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <h6 class="mt-n1 mb-0">Part Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-4">
                        <h6 class="mt-n1 mb-0">Contract</h6>
                    </a>
                </li>
                
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            {%for job in jobs%}
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <a href="{% url 'job-details' job.id %}"  > <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;"></a>
                                <div class="text-start ps-4">
                                    <h5 class="mb-3"><a href="{% url 'job-details' job.id %}">{{job.title}}</a></h5>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                                        
                                        {{job.location}}
                                   
                                    </span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration.name}}</span>
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                                </div>
                           
         
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                   
                                    
                                    <a class="btn btn-primary" href="{% url 'job-details' job.id %}">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>DeadLine: {{job.application_deadline}}</small>
                            </div>

                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            {%for job in full_time%}
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3"><a href="{% url 'job-details' job.id %}">{{job.title}}</a></h5>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                                        
                                        {{job.location}}
                                   
                                    </span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration.name}}</span>
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                                </div>
                           
         
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                  
                                    <a class="btn btn-primary" href="{% url 'job-details' job.id %}">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: {{job.application_deadline}}</small>
                            </div>

                            {%endfor%}
                        </div>
                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade show p-0 ">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            {%for job in part_time%}
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3"><a href="{% url 'job-details' job.id %}">{{job.title}}</a></h5>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                                        
                                        {{job.location}}
                                   
                                    </span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration.name}}</span>
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                                </div>
                           
         
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="{% url 'job-details' job.id %}">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: {{job.application_deadline}}</small>
                            </div>

                            {%endfor%}
                        </div>
                    </div>
                </div>

                <div id="tab-4" class="tab-pane fade show p-0 ">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            {%for job in contracts%}
                           <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3"><a href="{% url 'job-details' job.id %}">{{job.title}}</a></h5>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>
                                        
                                        {{job.location}}
                                   
                                    </span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration.name}}</span>
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                                </div>
                           
         
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="{% url 'job-details' job.id %}">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: {{job.application_deadline}}</small>
                            </div>

                            {%endfor%}
                        </div>
                    </div>
                </div>
         
                    <a class="btn btn-primary py-3 px-5" href="{% url 'all-jobs' %}">Browse More Jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}

{%block testimonial%}
 <!-- Testimonial Start -->
   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <h1 class="text-center mb-5">Our Clients Say!!!</h1>
                <div class="owl-carousel testimonial-carousel">
                    {%for testimony in testimonials%}
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>{{testimony.content}}</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{{testimony.user.profile_picture.url}}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">{{testimony.user.username}}</h5>
                                
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                   
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

{%endblock%}