{% extends 'job/main.html' %}
{%load static%}
{%block title%} Job Details{%endblock%}
{%block header%}{%endblock%}

{%block page%} 
  <!-- Job Detail Start -->
  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{job.title}}</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.location}}</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.Job_duration}}</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>{{job.description}}</p>
                    <h4 class="mb-3">Responsibility</h4>
                    <p></p>
                    
                        {{job.responsibilities}}

                </p>
                    </ul>
                    <h4 class="mb-3">Requirements</h4>
                    <p>
                        {{job.requirements}}
                    </p>
                </div>

                <div class="">
                    {%if request.user.is_authenticated%}
                    <h4 class="mb-4">Apply For This Job</h4>
                    <form method="POST" action="apply/{{job.id}}" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Your Name" name="name">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control" placeholder="Your Email" name="email">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Portfolio Website" name="website">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="file" class="form-control bg-white" name="resume">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="5" placeholder="cover letter" name="cover_letter"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                            </div>
                        </div>
                    </form>

                    {%else%}

                    <h3><a href="{%url 'login' %}" class="btn btn-primary">Login</a> to apply for this job </h3>
    
                    {%endif%}
                </div>
               
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summary</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{job.date_posted}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{job.vacancy}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: {{job.job_duration}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: {{job.salary}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{job.location}}</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Dead Line:{{job.application_deadline}}</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->

{%endblock%}